.top-container {
    height: 70px;
    max-height: 10%;
    background-color: rgb(241, 240, 240);
    border-bottom: 1px solid black;
}

.top-container > a {
    color: black;
}

#logo {
    width: 250px;
    min-width: 7%;
    padding-top: 0px;
    margin-left: -100px;
}

.navlist {
    position: absolute;
    width: 260px;
    top: 18px;
    right: 0;
}

.navlist > ul {
    margin: 0;
}

.nav-item{
    /* width: 110px; */
    float: left; 
    white-space: nowrap;
    margin-top: 7px;
    padding: 4px 0px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .05em;
    list-style-type: none;
    background-color: #f07113;
    color: white;
    box-shadow: 1px 1px 2px rgb(95, 92, 92), -1px -1px 2px rgb(95, 92, 92);
    border-radius: 4px;
}

#navI1 {
    position: absolute;
    right: 37%;
    padding-right: 9px;
    padding-left: 9px;
}

#navI2 {
    position: absolute;
    right: 10px;
    box-shadow:initial;
    background-color: transparent;
    box-shadow: none;
    padding-right: 20px;
}

@media only screen and (max-width: 700px) {
    .nav-item {
        width: 90px;
        font-size: .92em;
        margin-left: 110px;
    }

    #navI1 {
        right: 10%;
        padding-right: 4px;
        padding-left: 4px;
    }
}
